
#TopNavDiv {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    }

#LogoDiv {
    width: 25%;
}

#CenterSpacer {
    width: 50%
}

#AuthDiv {
    display: flex;
    flex-direction: row;
    width: 25%
}

.AuthButton {
    width: 33.3%;
    height: 100%;
    border: none;
}
